In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [22]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [23]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [24]:
# Encode Categorical Variable
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [25]:
# One-hot encode 'Geoghraphy'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [26]:
# combine one-hot encoded columns with orignal data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [28]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [29]:
# Split the data in training and testing sets
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [31]:
# Scale the features
scaler = StandardScaler()
X_train= scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [32]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)
    
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# ANN Regression Problem Statement

In [33]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [35]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer for regression   
])

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From e:\gen_ai\ann classification\new\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 64)                832

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [36]:
from tensorflow.keras.callbacks import  EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [37]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [38]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From e:\gen_ai\ann classification\new\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From e:\gen_ai\ann classification\new\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 8ms/step - loss: 100370.4609 - mae: 100370.4609 - val_loss: 98492.0469 - val_mae: 98492.0469
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99549.4922 - mae: 99549.4922 - val_loss: 96844.0234 - val_mae: 96844.0234
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 96682.6172 - mae: 96682.6172 - val_loss: 92651.6484 - val_mae: 92651.6484
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 91089.1406 - mae: 91089.1406 - val_loss: 85740.7734 - val_mae: 85740.7734
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 82994.5703 - mae: 82994.5703 - val_loss: 76927.2656 - val_mae: 76927.2656
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 73686.6172 - mae: 73686.6172 - val_loss: 67917.0391 - val_mae: 67917.0391
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 64886.0234 - mae: 64886.0234 - val_loss: 60305.5742 - val_mae: 60305.5742
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 58035.4805 - mae: 58035.4805 - val_loss: 55011.4297 - val_mae: 55011.4297
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 53676.6875 - mae: 53676.6875 - val_loss: 52223.1094 - val_mae: 52223.1094
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 51476.2734 - mae: 51476.2734 - val_loss: 51087.6172 - val_mae: 51087.6172
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50587.0586 - mae: 50587.0586 - val_loss: 50726.5586 - val_mae: 50726.5586
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50253.6797 - mae: 50253.6797 - val_loss: 50616.1055 - val_mae: 50616.1055
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50105.9062 - mae: 50105.9062 - val_loss: 50570.5000 - val_mae: 50570.5000
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50032.1445 - mae: 50032.1445 - val_loss: 50541.7695 - val_mae: 50541.7695
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 49980.9961 - mae: 49980.9961 - val_loss: 50510.9609 - val_mae: 50510.9609
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 49939.6719 - mae: 49939.6719 - val_loss: 50488.4609 - val_mae: 50488.4609
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 49907.1250 - mae: 49907.1250 - val_loss: 50466.5703 - val_mae: 50466.5703
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 49875.1641 - mae: 49875.1641 - val_loss: 50454.9375 - val_mae: 50454.9375
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49846.9141 - mae: 49846.9141 - val_loss: 50439.3633 - val_mae: 50439.3633
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49824.7422 - mae: 49824.7422 - val_loss: 50432.0078 - val_mae: 50432.0078
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49807.6602 - mae: 49807.6602 - val_loss: 50418.3164 - val_mae: 50418.3164
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49786.0586 - mae: 49786.0586 - val_loss: 50405.8945 - val_mae: 50405.8945
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49769.2617 - mae: 49769.2617 - val_loss: 50396.3125 - val_mae: 50396.3125
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49751.0352 - mae: 49751.0352 - val_loss: 50389.3242 - val_mae: 50389.3242
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49734.3594 - mae: 49734.3594 - val_loss: 50383.3711 - val_mae: 50383.3711
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49718.1836 - mae: 49718.1836 - val_loss: 50381.8828 - val_mae: 50381.8828
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49704.6094 - mae: 49704.6094 - val_loss: 50375.2539 - val_mae: 50375.2539
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49690.3750 - mae: 49690.3750 - val_loss: 50369.0430 - val_mae: 50369.0430
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49674.9805 - mae: 49674.9805 - val_loss: 50365.6758 - val_mae: 50365.6758
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49662.4141 - mae: 49662.4141 - val_loss: 50355.0156 - val_mae: 50355.0156
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49649.9492 - mae: 49649.9492 - val_loss: 50362.2188 - val_mae: 50362.2188
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49640.2617 - mae: 49640.2617 - val_loss: 50360.5430 - val_mae: 50360.5430
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49626.9375 - mae: 49626.9375 - val_loss: 50353.2109 - val_mae: 50353.2109
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49617.7852 - mae: 49617.7852 - val_loss: 50349.0117 - val_mae: 50349.0117
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49603.1602 - mae: 49603.1602 - val_loss: 50346.8594 - val_mae: 50346.8594
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49593.6172 - mae: 49593.6172 - val_loss: 50347.4883 - val_mae: 50347.4883
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49585.3477 - mae: 49585.3477 - val_loss: 50345.2812 - val_mae: 50345.2812
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49571.8242 - mae: 49571.8242 - val_loss: 50350.8125 - val_mae: 50350.8125
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49560.1719 - mae: 49560.1719 - val_loss: 50355.8672 - val_mae: 50355.8672
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49551.9766 - mae: 49551.9766 - val_loss: 50358.2891 - val_mae: 50358.2891
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49540.5508 - mae: 49540.5508 - val_loss: 50357.8203 - val_mae: 50357.8203
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49533.8984 - mae: 49533.8984 - val_loss: 50350.9375 - val_mae: 50350.9375
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49527.4336 - mae: 49527.4336 - val_loss: 50354.6602 - val_mae: 50354.6602
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49517.3945 - mae: 49517.3945 - val_loss: 50352.1992 - val_mae: 50352.1992
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49513.1836 - mae: 49513.1836 - val_loss: 50341.1445 - val_mae: 50341.1445
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49502.3086 - mae: 49502.3086 - val_loss: 50349.5742 - val_mae: 50349.5742
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49496.5039 - mae: 49496.5039 - val_loss: 50352.0664 - val_mae: 50352.0664
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49489.7734 - mae: 49489.7734 - val_loss: 50354.2773 - val_mae: 50354.2773
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49482.8789 - mae: 49482.8789 - val_loss: 50349.8320 - val_mae: 50349.8320
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 49479.3516 - mae: 49479.3516 - val_loss: 50361.9102 - val_mae: 50361.9102
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49470.6055 - mae: 49470.6055 - val_loss: 50357.7305 - val_mae: 50357.7305
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49463.5000 - mae: 49463.5000 - val_loss: 50359.9609 - val_mae: 50359.9609
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49461.2305 - mae: 49461.2305 - val_loss: 50362.8047 - val_mae: 50362.8047
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49451.4414 - mae: 49451.4414 - val_loss: 50378.3828 - val_mae: 50378.3828
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49447.5938 - mae: 49447.5938 - val_loss: 50375.9883 - val_mae: 50375.9883

In [40]:
%load_ext tensorboard

In [43]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 7588), started 0:00:23 ago. (Use '!kill 7588' to kill it.)

In [44]:
# Evaluate Model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50341.1445 - mae: 50341.1445
Test MAE : 50341.14453125

In [45]:
model.save('regression_model.h5')

e:\gen_ai\ann classification\new\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(